/* HomePage.css */

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');
h1 {
    font-size: 3rem; /* Adjust the size as needed */
    color: #333; /* Change the color to match your design */
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 2rem;
    color: #666;
    margin-bottom: 2rem;
  }

.project-title {
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
}

.name {
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
}
.subtitle {
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
}